.rightpane {
    width: 100%;
    height: 100%;
    background-color: #20d662;
    color: black;
    padding: 2rem;

    header {
        font-size: 2rem;
        display: flex;
        align-items: center;

        p{
            @media screen and (max-width: 552px) {
                font-size: 1.4rem;
                flex: 1;
            }
        }

        .icons {
            margin-left: 10px;
            &>* {
                margin-right: 10px;
                @media screen and (max-width: 552px) {
                    height: 25px;
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        position: relative;

        .emptybg {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 70px;
            left: 250px;
            height: 500px;
            width: 700px;
        }

        .userPlaylist {
            list-style: none;
            padding-top: 10px;
            line-height: 2;

            .playlist {
                display: flex;
                align-items: center;

                li {
                    font-size: 1.3rem;
                    flex: 1;
                }
            }
        }
    }
}